<span class="pageTitle">User Detail </span>
    <span class="create"> | <a routerLink="/user/edit"></a> Edit</span>
<div>
<table *ngIf="user" class="table table-sm">
    
  <tr>
    <td>Username</td><td>{{user.username}}</td>  
  </tr>
  <tr>
      <td>Name</td><td>{{user.firstname}}</td> 
  </tr>
  <tr>
    <td>Phone</td><td>{{user.phone}}</td>
  </tr>
  <tr>
    <td>Email</td><td>{{user.email}}</td>
  </tr>
    <tr>
      <td>Is Reviewer?</td><td>{{user.isReviewer}}</td>
    </tr>
    <tr>
      <td>Admin</td><td>{{user.isAdmin}}</td>
    </tr>
    <tr><td>Active</td><td>{{user.active}}</td>
    </tr>
</table>
<button (click)="setVerify()" class="btn btn-danger">SetDelete</button>
<span *ngIf="verify">
  <span>|</span>
  <button (click)="delete()" class="btn btn-danger">VerifyDelete</button>
</span>
<span>|</span>
<a routerLink="/user/list">Return To list</a>
</div>