<app-menu></app-menu>
<div>
  <div class="heading">
    <span class="pageTitle">User List</span>
    <span class="create">|<a routerLink="/user/create">Create</a></span>
    <span class="search">| <input [(ngModel)]="searchCriteria" type="text"></span>
  </div>
  <table class="table table-sm">
    <thead>
      <td>Username</td>
      <td>Name</td>
      <td>Email</td>
      <td>Phone</td>
      <td>Reviewer?</td>
      <td>Admin?</td>
      <td>Actions</td>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | search:searchCriteria" class="coldetail">
          <td>{{user.username}}</td>
          <td>{{user.firstname}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phone}}</td>
          <td class="bool">{{user.isReviewer | booldisp}}</td>
          <td class="bool">{{user.isAdmin | booldisp}}</td>
          <td><a routerLink="/user/detail/{{user.id}}">Detail</a> | 
              <a routerLink="/user/edit/{{user.id}}">Edit</a></td>
      </tr>
    </tbody>
  </table>
</div>