<div *ngIf="product" class="narrow">
    <table class="table table-sm">
      <tr>
        <td>Vendors</td>
        <td><select [(ngModel)]="product.vendorId"><option *ngFor="let vendor of vendors" [(ngValue)]="vendor.id">{{vendor.name}}</select></td>
      </tr>
      <tr>
        <td>Part Number</td>
        <td><input [(ngModel)]="product.partNumber" class="inputstring" type="text"></td>
      </tr>
      <tr>
        <td>Name</td>
        <td><input [(ngModel)]="product.name" class="inputstring" type="text"></td>
      </tr>
      <tr>
        <td>Price</td>
        <td><input [(ngModel)]="product.price" class="inputstring" type="text"></td>
      </tr>
      <tr>
        <td>Unit</td>
        <td><input [(ngModel)]="product.Unit" class="inputstring" type="text"></td>
      </tr>
      <tr>
        <td>Photopath</td>
        <td><input [(ngModel)]="product.photopath" class="inputstring" type="text"></td>
      </tr>
      <tr>
        <td>Active</td>
        <td><input [(ngModel)]="product.partNumber" class="inputstring" type="checkbox"></td>
      </tr>
    </table>
    <span>
        <button (click)="save()">Save</button>
      </span>
